.button {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--shadow-color);
  box-shadow: 4px 4px var(--shadow-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  overflow: hidden;
}

.button, .plus-sign, .button__text {
  transition: all 0.3s;
}

.button .button__text {
  transform: translateX(15px);
  color: var(--font-color);
  font-weight: 600;
}

.button:hover {
  background: var(--secondary-color);
}

.button:hover .button__text {
  color: transparent;
}


.button:active {
  transform: translate(3px, 3px);
  box-shadow: 0 0 var(--font-color);
}

.plus-sign {
  font-size: 30px;
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover .plus-sign {
  width: 148px;
  transform: translateX(0);
}
