.cart-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  gap: 5px;
}

.cart-title {
  width: 100%;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: 700;
  font-size: 16px;
}

.cart .products {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 5px;
  border-top: 2px solid var(--shadow-color);
  border-bottom: 2px solid var(--shadow-color);
  max-height: 180px;
  overflow-y: auto;
}

.cart .products .product {
  display: grid;
  grid-template-columns: 40px 0.5fr 80px 0.3fr;
  gap: 10px;
  background-color:  var(--primary-color);
  border-radius: 10px;
  padding: 3px;
}

.icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: var(--background-color);
}
.category-icon{
  width: 30px;
}

.product-name{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .products .product span {
  font-size: 13px;
  font-weight: 600;
}

.quantity {
  height: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  background-color: var(--background-color);
  border-radius: 7px;
  border: 1px solid var(--shadow-color);
}

.cart .quantity label {
  width: 20px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
  font-size: 15px;
  font-weight: 700;
  border-inline: 1px solid #3c1b07;
}

.cart .quantity button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding-bottom: 2px;
}
.cart .quantity button span{
  font-size: 20px !important;
}
.plus{
  padding-top: 2px;
}


.product-price{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 700;
}


/* Total */

.total-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: var(--secondary-color);
  border-radius: 0 0 5px 5px;
}

.total-cost {
  position: relative;
  font-size: 22px;
  color: var(--shadow-color);
  font-weight: 900;
}


