<div class="cart-wrapper">
  <div class="cart">
    <label class="cart-title">Your cart</label>
    <div class="products">
      <div class="product">
        <div class="icon-container">
          <!-- ACA VA EL ICONO CATEGORIA DEL PRODUCTO AGREGADO-->
          <img class="category-icon" src="food-icon.png" alt="">
        </div>
        <div class="product-name">
          <!-- ACA VA EL NOMBRE DEL PRODUCTO AGREGADO-->
          <span>RicoCan 20kg</span>
        </div>
        <div class="quantity">
          <!-- ACA VA LA FUNC DISMINUIR CANTIDAD DE PRODUCTO-->
          <button>
            <span class="sign">-</span>
          </button>
          <label>2</label>
          <!-- ACA VA LA FUNC AUMENTAR CANTIDAD DE PRODUCTO-->
          <button>
            <span class="sign plus">+</span>
          </button>
        </div>
        <!-- ACA VA EL PRECIO SUMADO, OSEA MULTIPPLICADO DEL PRODUCTO AGREGADO-->
        <div class="product-price">$23.99</div>
      </div>

    </div>
    <div class="total">
      <label class="cart-title">Total</label>
      <div class="total-footer">
        <!-- ACA VA LAS SUMA DE LOS PRECIOS SUMADOS-->
        <label class="total-cost">S/.57.99</label>
        <app-purchase-button/>
      </div>
    </div>
  </div>
</div>

