<!--EN ESTA PARTE VA EL POST DEL PRODUCT-->
<app-add-product-button/>
<!--*ngFor="let product of products"-->
<div class="product-list-container">
  <div class="card">

    <div class="card__glow"></div>
    <div class="card__content">

      <div class="card__badge">NEW</div>

      <div class="card__image"></div>
      <div class="card__text">
        <!--EN ESTA PARTE VA LA NOMBRE-->
        <p class="card__title">Product Name</p>
        <!--EN ESTA PARTE VA LA DESCRIP-->
        <p class="card__description">Product Description waos anshe wasa</p>

      </div>
      <div class="card__footer">
        <!--EN ESTA PARTE VA EL PRECIO-->
        <div class="card__price">S/. 49.99</div>


        <!--EN ESTA ADD TO CART POST-->
        <div class="card__button">
          <span class="sign">+</span>
        </div>

        <!--EN ESTA PARTE DELETE-->
        <div class="card__button">
          <span class="sign">-</span>
        </div>

      </div>
    </div>
  </div>
</div>
