:root {
  --background-color: #ffdebb;
  --container-color: #ffc17a;
  --primary-color: #ff8c00;
  --secondary-color: #914212;
  --shadow-color: #3c1b07;
  --font-color: #dedede;
  --white-color: #ffffff;
  --black-color: #000000;
}
