<form class="form">
  <div class="title">Add Product<br><span>Complete the information below</span></div>
  <input class="input" name="product-name" placeholder="Product Name" type="text">
  <input class="input" name="product-description" placeholder="Product Description" type="text">
  <input class="input" name="product-price" placeholder="Product Price" type="number">
  <div class="login-with">
    <div class="button-log">
      <img class="icon" src="food-icon.png" alt="">
    </div>
  </div>
  <button class="button-confirm">Add</button>
</form>
